<!DOCTYPE html>
<html>
	<head>
		<title>CS340 - DJ Shamblin</title>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">

		<link rel="stylesheet" href ="/style.css" media="screen">
		<script src="/style.js"></script>


	</head>
<body>
	<form action="/">
    <input type="submit" value="Home" />
	</form>
	{{{body}}}
</body>
</html>
