<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>City</th>
    <th>State</th>
  </thead>
  <tbody>
    {{#each brewery_state}}
    <tr>
        <td>{{brewID}}</td>
        <td>{{brewName}}</td>
        <td>{{brewCity}}</td>
        <td>{{brewState}}</td>
    </tr>
    {{/each}}

  </tbody>
</table>
